*,
*::before,
*::after {
    box-sizing: border-box;
}


.styled-video {
    width: 100%;

    max-width: 100%;
    height: auto;
    max-height: 100vh;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    padding: 0;
    object-fit: contain;
}

.video-container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    border-radius: 20px;
    overflow: hidden;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
}

@media (max-width: 768px) {
    .styled-video {
        border-radius: 10px;
    }
}